@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');
.IndexTitle {
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    border-bottom: 2px solid black;
}
.IndexButton {
    font-family: 'Open Sans', sans-serif;
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: forestgreen;
    border-radius: 15px;
    box-shadow: 0 9px #3a3a3a;
    margin: 25% auto;
}

    .IndexButton:hover {
        background-color: green
    }

    .IndexButton:active {
        background-color: darkgreen;
        box-shadow: 0 5px #666;
        transform: translateY(4px);
    }
.IndexCentering {
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align:center;
    align-content: center;
}
.IndexBackground {
    background-image: url('../images/macro-1452987_1920.jpg');
}
.inputBox {
    padding: 12px 20px;
    margin: 10px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.submitBtn {
    border-style: none;
    border-color: inherit;
    border-width: medium;
    background-color: green;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}
.submitBtn:hover {
        background-color: darkgreen;
    }

.subScript {
    font-family: 'Open Sans', sans-serif;
}



