@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');
html, body {
    margin: 0;
}

.CStyle{
    align-content:center;
    width: 100%;
    height:20%;

}
.secondary {
    background-color: #e9ecef;
}
.logout{
    float: right;
}
.padding{
    margin: 0, auto;
}
.IndexHeaderA {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    border-bottom: 2px solid black;
    /*background-color: #007F05;*/
    text-align: center;
    width: 100%;
    padding: 1%;
    float: left;
}
.IndexHeaderB {
    font-family: 'Roboto', sans-serif;
    font-size: 100%;
    border-bottom: 2px solid black;
    background-color: #79a6d2;
    text-align: center;
    width: 100%;
    padding: 1%;
    float: left;
}
.subScriptIndex {
    font-family: 'Open Sans', sans-serif;
    padding: 50%;
}
.IndexButton {
    background-color: white; /* Green */
    border: none;
    color: black;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    text-decoration:none;
}

    .IndexButton:hover {
        background-color: #79a6d2;
        color: white;
    }

.IndexCentering {
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align:center;
    align-content: center;
}

.inputBox {
    padding: 12px 20px;
    margin: 10px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.submitBtn {
    border-style: none;
    border-color: inherit;
    border-width: medium;
    background-color: green;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}
.submitBtn:hover {
        background-color: darkgreen;
    }

.subScript {
    font-family: 'Open Sans', sans-serif;
}

.searchinput[type=text] {
    width: 130px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

    /* When the input field gets focus, change its width to 100% */
.searchinput[type=text]:focus {
        width: 100%;
    }





